---
---

<section class="page-section full-width flow" id="paint-removal">
  <h2>Paint removal</h2>
  <h3>Face Paints</h3>
  <p>
    To remove your face paint, use a mild liquid soap and gently rub the soap over the design in circles, avoiding the eye area. Use a damp terry cloth washcloth to wipe off the soap; the gentle exfoliating of the washcloth helps with color removal. For paint around the eye area, use a damp washcloth to gently wipe away paint, but avoid using soap to prevent eye irritation.
  </p>
  <p>
    Some colors may be harder to remove than others, depending on the paint brand and the skin's pH. In those cases, applying skin-safe oil (like coconut or olive) to a cotton round or paper towel and gently rubbing in circles should help remove more stubborn colors. Again, avoid the eye area with these oils to prevent eye irritation.
  </p>
  <h3>Water-resistant Face Paint</h3>
  <p>
    To remove water-resistant face paint, apply skin-safe oil (like olive oil or coconut oil) or micellar water to a cotton round or papertowel. Gently rub the oil into the paint in circles. The paint should start to “pill up” and can be easily wiped away.
  </p>
  <h3>Face Gems</h3>
  <p>Face gems are easily removed by gently lifting up the corner of the adhesive and pulling.</p>
  <h3>Glitter Tattoos</h3>
  <p>
    To remove water-resistant glitter tattoos, apply skin-safe oil (like olive oil or coconut oil) to a cotton round or paper towel. Allow the oil-saturated material to sit on the glitter tattoo for a few moments then gently rub in circles. The glitter tattoo should start to “pill up” and then can be peeled away.
  </p>
  <h3>Festival Glitter</h3>
  <p>
    To remove chunky glitter gels and balms from skin, use a plastic card (like credit card material, but we don't recommend using an actual credit or debit card) and lightly scrape off the glitter. Wipe the card clean with a paper towel and dispose of the glitter in the trash. To remove chunky glitter gels and balms from hair, use a fine-tooth comb and, starting at the root of the hair, gently comb through to the tip. Use a paper towel to wipe the comb clean and dispose of the glitter in the trash.
  </p>

</section>
