---
import type { ImageMetadata } from 'astro';
import IndexLayout from '../layouts/IndexLayout.astro';


import GetInTouch from '../components/IndexPage/GetInTouch.astro';
import PaintRemoval from '../components/IndexPage/PaintRemoval.astro';
import Portfolio from '../components/IndexPage/Portfolio.astro';
import Services from '../components/IndexPage/Services.astro';
---

<IndexLayout title="Bright & Lucky Face Painting | Home">
	<div class="hero full-width flow">
    <h1 class="font-display hero-heading">Everyone deserves to <span>shine</span>!</h1>

    <p>Let our fun, friendly face painters bring some color and sparkle to your next celebration, grand opening or milestone event!</p>
    <p>Serving Richmond, VA and the surrounding area.</p>

    <a href="#get-in-touch" class="hero-cta">Get in touch</a>

  </div>
  <Services />
  <Portfolio />
  <GetInTouch />
  <PaintRemoval />
</IndexLayout>

<style is:global>
  /* global styles needed for the section styles that are in different components */
  .page-section {
    position: relative;
    padding-block-start: var(--bl-spacing-3x-large);
    padding-block-end: calc(130px + (var(--bl-spacing-3x-large) * 2));
    background: var(--bl-color-background-page);
    min-height: 300px;
  }

  h1 {
    font-family: var(--bl-font-display);
    font-size: var(--bl-font-size-4x-large);
  }

  h2 {
    text-align: center;
    font-family: var(--bl-font-display);
    font-size: var(--bl-font-size-3x-large);
  }

  .page-section::before {
    content: '';
    display: block;
    height: 129px; /** ooh magic */
    width: 100%;
    position: absolute;
    top: -128px; /** ooh magic */
    left: 0;
    background: inherit;
    clip-path: var(--bl-shape-wave-clip-low);
  }

  @media (width > 900px) {
    .page-section::before {
      clip-path: var(--bl-shape-wave-clip-high);
    }
  }
</style>

<style>
  .hero {
    min-height: 60vh;
    background-color: var(--bl-color-green-100);
    background: linear-gradient(-45deg, var(--bl-color-green-100), var(--bl-color-green-300), var(--bl-color-green-500));
	  background-size: 400% 400%;
    padding-block-start: 100px;
    padding-block-end: 200px;
    text-align: center;
    animation: gradient 15s ease infinite;

    @media (width > 900px) {
      padding-block: 200px;
    }

    & > * + * {
      justify-self: center;
      max-width: 60ch;
    }

    .hero-cta {
      margin-block-start: var(--bl-spacing-3x-large);
    }
  }

  .hero-heading {
    position: relative;
    isolation: isolate;
    line-height: 1.2;

    span {
      animation: randomColor 25s 3s infinite;
    }
  }

  @keyframes randomColor {
    12% { color: rgb(195, 32, 173); text-shadow: 2px 2px 2px var(--bl-color-green-900)}
    24% { color: orange; text-shadow: 2px 2px 2px var(--bl-color-green-900)}
    36% { color: rgb(7, 212, 202); text-shadow: 2px 2px 2px var(--bl-color-green-900)}
    48% { color: rgb(235, 221, 13); text-shadow: 2px 2px 2px var(--bl-color-green-900)}
    60% { color: rgb(27, 231, 139); text-shadow: 2px 2px 2px var(--bl-color-green-900)}
    72% { color: rgb(127, 20, 234); text-shadow: 2px 2px 2px var(--bl-color-green-900)}
    100% { color: var(--bl-color-green-800);}
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>
