---
import IndexLayout from '../layouts/IndexLayout.astro';
---
<IndexLayout title="Bright & Lucky Face Painting | Home">
	<div class="hero full-width">
    <div class="content-grid">
      hero
    </div>
  </div>
  <section id="get-in-touch">
    <h2>Get in touch</h2>
  </section>
  <section id="services">
    <h2>Services</h2>
  </section>
  <section id="our-paints">
    <h2>Our paints</h2>
  </section>
  <section id="paint-removal">
    <h2>Paint removal</h2>
  </section>
</IndexLayout>

<style>
  .hero {
    min-height: 60vh;
    background: var(--bl-color-green-100);
  }

  section {
    padding-block: var(--bl-spacing-3x-large);
  }
</style>
