---

---

<div class="coming-soon">
  <p>We‘re working on adding a form to contact us directly right here, but its not quite ready! In the meantime, please reach out to us on our Facebook page and we‘ll be in touch as soon as we can!</p>

  <a href="https://www.facebook.com/profile.php?id=61558539024065" class="hero-cta">Get in touch</a>
</div>


<style>
  .coming-soon {
    text-align: center;
    display: grid;

    & > * + * {
      margin-top: 1em;
    }
  }
</style>
