---

---

<footer class="content-grid">
  <div>
    &copy; {new Date().getFullYear()} Bright & Lucky Face Painting. All rights reserved.
  </div>
</footer>


<style>
  footer {
    padding-block: var(--bl-spacing-x-large);
    background-color: var(--bl-color-background-page-2);
    text-align: center;
  }
</style>
