---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <!-- SEO -->
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Everyone deserves to shine and Bright & Lucky Face Painting, serving Midlothian and the greater Richmond, VA area can help!" />
    <link rel="canonical" href="https://brightnlucky.com" />

    <meta property="og:site_name" content="Bright N Lucky Face Painting">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="Everyone deserves to shine and Bright & Lucky Face Painting, serving Midlothian and the greater Richmond, VA area can help!">
    <meta property="og:image" content="https://brightnlucky.com/imgs/face-paint.png">
    <meta property="og:image" content="https://brightnlucky.com/imgs/glitter-tattoo.png">
    <meta property="og:image" content="https://brightnlucky.com/imgs/glitter-bar.png">
    <meta property="og:url" content="https://brightnlucky.com">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 100% privacy-first analytics -->
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

    <title>{title}</title>
	</head>
	<body>
		<Header></Header>
		<main class="content-grid">
      <slot />
    </main>
		<Footer></Footer>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "EntertainmentBusiness",
        "name": "Bright & Lucky Face Painting",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Midlothian",
          "addressRegion": "VA",
          "postalCode": "23113",
          "addressCountry": "US"
        },
        "priceRange": "$$",
        "areaServed": [
          {
            "@type": "Place",
            "name": "Richmond, VA"
          },
          {
            "@type": "Place",
            "name": "Midlothian, VA"
          }
        ],
        "url": "https://brightnlucky.com"
      }
    </script>
  </body>
</html>
